.centered{

	height: 200px;
	width:200px;
	background-color:green;
	
	position: absolute; 
	/*according to view-port*/
  	
  	top: 0; left: 0; 
  	bottom: 0; right: 0; 
  	/*for hole page or bounding box*/ 
  	/* no whole page taken if not taken*/

  	
  	
  	margin: auto; /*to give margin equally*/
 

}


position and margin only taken then its difficult to find is it? for a whole page 
,difficult to render in ceter of a page;

top and margin only taken difficult to center from where of the page or find a correct viewport;


position and top only given then equal margin is not given;
