<div class="container" ng-controller="tableCtrl">
    <h2>Job list</h2>
    <div class="alert alert-success alert-dismissable fade in" ng-if="message">
        <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Success!</strong> {{message}}.
    </div>
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-md-2 col-md-offset-10 ">
            <button class="btn btn-primary" ng-click="add();"><i class="fa fa-plus">Add</i>
            </button>
        </div>
    </div>
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>Sn</th>
                <th>Job title</th>
                <th>Job description</th>
                <th>posted date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody ng-repeat="(key,data) in job_list">
            <tr>
                <td>{{key+1}}</td>
                <td>{{data.job_title}}</td>
                <td>{{data.job_description}}</td>
                <td>date</td>
                <td width="30%">
                    <button class="btn btn-primary" ng-click="add();"><i class="fa fa-plus">Add</i> </button>&nbsp;
                    <button class="btn btn-danger" ng-click="selectUser(data);"><i class="fa fa-pencil-square-o"></i>Edit</button>&nbsp;
                    <button class="btn btn-success" ng-click="deleteUser(key);"><i class="fa fa-times"></i>Delete</button>&nbsp;</td>
            </tr>
        </tbody>
    </table>
</div>
