<div ng-controller="loginCtrl">
    <div class="alert alert-success alert-dismissable fade in" ng-if="failmessage">
        <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Error!!</strong> {{failmessage}}.
    </div>
    <div class="form-div">
        <form style="padding:50px;" name="admin_form" novalidate>
            <div class="row">
                <img style="height:100px; width:200px" ; src="key1.png">
            </div>
            <div class="form-group ">
                <label for="email">Email</label>
                <input type="text" name="email" ng-pattern="/^[a-z]+[a-z0-9._]+@[a-z]+\.[a-z.]{2,5}$/" ng-maxlength="100" ng-model="email" class="form-control" placeholder="Email" required>
            </div>
            <div class="error" ng-messages="admin_form.email.$error" ng-if="admin_form.$submitted" ng-if="admin_form.$submitted">
                <div ng-message="required">required!!</div>
                <div ng-message="pattern">not valid mail!!</div>
                <div ng-message="ng-maxlength">only 100 values are!!</div>
            </div>
            <div class="form-group">
                <label for="password">password</label>
                <input type="pasword" name="pass" ng-model="pass" ng-maxlength="20" class="form-control" placeholder="password" required>
            </div>
            <div class="error" ng-messages="admin_form.pass.$error" ng-if="admin_form.$submitted">
                <div ng-message="required">required!!</div>
                <div ng-message="pattern">not valid mail!!</div>
            </div>
            <div class="form-group">
                <button ng-click="login();" class="btn btn-success"><i class="fa fa-unlock-alt" aria-hidden="true"></i>&nbsp;submit</button>
            </div>
        </form>
    </div>
</div>
