<div class="container" ng-controller="postJobCtrl">
    <div class="post-job">
        <h2>Post jobs</h2>
    </div>
    <div class="center-block">
        <fieldset style="border:1px solid green;margin:20px 100px;">
        <form style="padding:50px;">
        
            <div class="form-group col-sm-offset-2 col-sm-8">
                <label for="job_title">Job title</label>
                <input type="text" class="form-control" name="job_title" 
                ng-model="data.job_title" placeholder="Enter title">
            </div>
            <div class="form-group col-sm-offset-2 col-sm-8">
                <label for="exampleTextarea ">Job description</label>
                <textarea class="form-control" name="job_description" ng-model="data.job_description" rows="3"></textarea>
            </div>
            <div class="form-group col-sm-offset-2 col-sm-8">
                <button type="submit" class="btn btn-primary" ng-click="post_job();">Submit</button>
            </div>

        </form>
        </fieldset>
    </div>
</div>
