.post-job {
    margin-top: 60px;
    text-align: center;
}

.error {
    color: red;
}

.form-div {
    height: 400px;
    width: 400px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid lightgreen;
}
